<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <h5 class='bold'><%= receipt.message.sender.name %> said:</h5>
    <blockquote><%= receipt.message.body %></blockquote>
  </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body %>
  </div>

  <%= submit_tag %>
<% end %>
