<div class="parallax-container">
  <div class="parallax"><%= image_tag 'dbd.jpg' %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header lobster-font amber-text">Hey there!</h2>
    <h5 class="grey-text text-darken-3 lighten-3 lobster-font">Welcome to Double Date,</h5>
    <p class="grey-text text-darken-3 lighten-3">Where you and your significant other can find other like minded couples to go do awesome stuff with. First things first, lets set up your profile!</p>
    <%= link_to 'About', about_path, class:"btn green right" %>
		<% if !current_user %>
      <%= link_to 'Set Up', new_user_profile_path(:id), class:"btn green" %>
    <% else %>
      <%= link_to 'Start Double Dating!', users_path, class:"btn green" %>
    <% end %>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag 'doubledateideas_sized.jpg'%></div>
</div>