<!DOCTYPE html>
<html>
<head>
  <title>GroupDate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Pacifico' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="light-blue lighten-5"> 
  <div class="navbar-fixed">
    <nav id="nav-fix">
      <div class="nav-wrapper amber">
        <a href="/users" class="center brand-logo lobster-font">Double ʕ•ᴥ•ʔ Date</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <!-- Main Navbar -->
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <% if current_user.profile %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <li><img class="user-nav" src="<%= current_user.profile.picture %>"></li>
            <li><a class='dropdown-button' data-activates='dropdown1'><%= current_user.profile.first_name_one %> & <%= current_user.profile.first_name_two %></a></li>
              <ul id='dropdown1' class='dropdown-content'>
                <li><%= link_to Profile, user_profile_path(:user_id, :id) %></li>
                <li><a href="/conversations">Conversations</a></li>
                <li><a href="/">Friends</a></li>
              </ul>
            <% end %>
          <% else %>
            <li> <%= link_to 'Login', new_user_session_path %></li>
            <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>

        <!-- Popout mobile navbar -->
          <ul class="side-nav" id="mobile-demo">
            <% if user_signed_in? %>
              <% if current_user.profile %>
              <li><img class="user-side-nav" src="<%= current_user.profile.picture %>"></li>
              <li><a class='dropdown-button ' href='#' data-activates='dropdown2'><%= current_user.profile.first_name_one %> 
                  & <%= current_user.profile.first_name_two %></a></li>
              <ul id='dropdown2' class='dropdown-content'>
                <li><%= link_to Profile, user_profile_path(:user_id, :id) %></li>
                <li><a href="/conversations">Conversations</a></li>
                <li><a href="/">Friends</a></li>
              </ul>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <% end %>
            <% else %>
              <li> <%= link_to 'Login', new_user_session_path %></li>
              <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
      </div>
    </nav>
  </div>
    <main>
      <%= yield %>
    </main>

    <!-- Sticky footer  -->
  <footer class="page-footer amber" id="footer-fixed">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us!</h5>
          <p class="grey-text text-lighten-4 lobster-font">Karson Hatch</p>
            <a href="https://www.facebook.com/the.man.from.japan"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/karsonhatch"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/karsonhatch"><i class="fa fa-github" aria-hidden="true"></i></a>
          <p class="grey-text text-lighten-4 lobster-font">Daniel Glover</p>
            <a href="https://www.facebook.com/glovemasterflex"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/danieltheglover"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/glovemasterflex"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Useful Links</h5>
          <ul>
            <li><%= link_to 'Conversations', conversations_path, class:'grey-text text-lighten-3' %></li>
            <li><a class="grey-text text-lighten-3" href="/users">Find Friends</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Edit Profile</a></li>
            <li><%= link_to 'About', about_path, class:'grey-text text-lighten-3'%></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright Karson Hatch & Danny Glover
      <a class="grey-text text-lighten-4 right" href="http://www.DevPointlabs.com">Made possible by the dope homies at DevPoint Labs. Click here to learn more!</a>
      </div>
    </div>
  </footer>
</body>
</html>
