<!DOCTYPE html>
<html>
<head>
  <title>GroupDate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Pacifico' rel='stylesheet' type='text/css'>
</head>
<body class="light-blue lighten-5"> 
    <div class="navbar-fixed">
      <nav id="nav-fix">
        <div class="nav-wrapper amber">
          <a href="/" class="center brand-logo lobster-font">Double ʕ•ᴥ•ʔ Date</a>
          <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <!-- <div> -->
           <!--    <div class="user">
                <img src="<%= current_user.profile.picture %>">
              </div> -->
                <a class='dropdown-button ' href='#' data-activates='dropdown1'><%= current_user.profile.first_name_one %> & <%= current_user.profile.first_name_two %></a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><%= link_to Profile, user_profile_path(:user_id, :id) %></li>
                  <li><a href="#!">About</a></li>
                  <li><a href="#!">Dates</a></li>
                </ul>
            <!-- </div> -->
                  
          <% else %>
            <li> <%= link_to 'Login', new_user_session_path %></li>
            <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="center container">
    </div>

    <main>
        <%= yield %>
    </main>

    <footer class="page-footer amber" id="footer-fixed">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Usefull Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">New Date</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Find Friends</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Add Interests</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Karson Hatch & Danny Glover
        <a class="grey-text text-lighten-4 right" href="http://www.DevPointlabs.com">Made possible by the dope homies at DevPoint Labs. Click here to learn more!</a>
        </div>
      </div>
    </footer>
</body>
</html>
